# Visual Studio

bin/
obj/
.vs/


# User-specific files
*.user
*.suo

# Logs
*.log

# App settings
appsettings.Development.json
appsettings.Production.json
PrivateECommerce.API/appsettings.Development.json
PrivateECommerce.API/appsettings.Production.json
